p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.9em;
    color: white;
}

h6 {
    color: white;
    font-size: 0.9em;
    ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-login {
    background-color: #7FBA27;
    border-color: #7FBA27;
}

.btn-login:hover {
    background-color: yellowgreen;
    border-color: yellowgreen;
}